
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MenuPrincipal.cshtml";
}
<div style="background-color: #D3E3FD; padding:10px">
    <div style=" color: #3086C6; font-weight: bold; padding-left: 30px ">
        Accueil > Administration > Activités
    </div>
    <div class="container-fluid mt-1">
        <div class="row">
            <!-- Première carte occupant 70% -->
            <div class="col-md-12">
                <div class="card fixed-height-l">
                    <div class="card-body">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#activ" data-whatever="@@mdo">Ajouter une activité</button>
                        <hr />
                        <table id="example" class="table table-striped" style="width:100%;">
                            <thead style="border-color:gray">
                                <tr>
                                    <th>Nom de l'activité</th>
                                    <th>Description </th>
                                    <th>Date de l'activité</th>
                                    <th>Nombre de participants</th>
                                    <th>Coût </th>
                                    <th>Lieu </th>
                                    <th>Coordonnées GPS</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sensibilisation en milieu rural</td>
                                    <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                                    <td>2024-09-25</td>
                                    <td>150</td>
                                    <td>3000 000</td>
                                    <td>Aboisso</td>
                                    <td>9.5511, 1.1865</td>
                                </tr>
                                <tr>
                                    <td>Formation des enseignants</td>
                                    <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                                    <td>2024-10-01</td>
                                    <td>50</td>
                                    <td>2000 000</td>
                                    <td>Biankouman</td>
                                    <td>6.1725, 1.2313</td>
                                </tr>
                                <tr>
                                    <td>Conférence nationale</td>
                                    <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                                    <td>2024-11-15</td>
                                    <td>300</td>
                                    <td>5000 €</td>
                                    <td>kablaké</td>
                                    <td>5.6037, -0.1870</td>
                                </tr>
                                <tr>
                                    <td>Sensibilisation en milieu rural</td>
                                    <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                                    <td>2024-09-25</td>
                                    <td>150</td>
                                    <td>3000 000</td>
                                    <td>Aboisso</td>
                                    <td>9.5511, 1.1865</td>

                                </tr>
                                <tr>
                                    <td>Formation des enseignants</td>
                                    <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                                    <td>2024-10-01</td>
                                    <td>50</td>
                                    <td>2000 000</td>
                                    <td>Biankouman</td>
                                    <td>6.1725, 1.2313</td>
                                </tr>
                                <tr>
                                    <td>Conférence nationale</td>
                                    <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                                    <td>2024-11-15</td>
                                    <td>300</td>
                                    <td>5000 €</td>
                                    <td>kablaké</td>
                                    <td>5.6037, -0.1870</td>
                                </tr>
                                <tr>
                                    <td>Sensibilisation en milieu rural</td>
                                    <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                                    <td>2024-09-25</td>
                                    <td>150</td>
                                    <td>3000 000</td>
                                    <td>Aboisso</td>
                                    <td>9.5511, 1.1865</td>
                                </tr>
                                <tr>
                                    <td>Formation des enseignants</td>
                                    <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                                    <td>2024-10-01</td>
                                    <td>50</td>
                                    <td>2000 000</td>
                                    <td>Biankouman</td>
                                    <td>6.1725, 1.2313</td>

                                </tr>
                                <tr>
                                    <td>Conférence nationale</td>
                                    <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                                    <td>2024-11-15</td>
                                    <td>300</td>
                                    <td>5000 €</td>
                                    <td>kablaké</td>
                                    <td>5.6037, -0.1870</td>

                                </tr>
                                <tr>
                                    <td>Sensibilisation en milieu rural</td>
                                    <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                                    <td>2024-09-25</td>
                                    <td>150</td>
                                    <td>3000 000</td>
                                    <td>Aboisso</td>
                                    <td>9.5511, 1.1865</td>

                                </tr>
                                <tr>
                                    <td>Formation des enseignants</td>
                                    <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                                    <td>2024-10-01</td>
                                    <td>50</td>
                                    <td>2000 000</td>
                                    <td>Biankouman</td>
                                    <td>6.1725, 1.2313</td>

                                </tr>
                                <tr>
                                    <td>Conférence nationale</td>
                                    <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                                    <td>2024-11-15</td>
                                    <td>300</td>
                                    <td>5000 €</td>
                                    <td>kablaké</td>
                                    <td>5.6037, -0.1870</td>

                                </tr>
                                <tr>
                                    <td>Sensibilisation en milieu rural</td>
                                    <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                                    <td>2024-09-25</td>
                                    <td>150</td>
                                    <td>3000 000</td>
                                    <td>Aboisso</td>
                                    <td>9.5511, 1.1865</td>

                                </tr>
                                <tr>
                                    <td>Formation des enseignants</td>
                                    <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                                    <td>2024-10-01</td>
                                    <td>50</td>
                                    <td>2000 000</td>
                                    <td>Biankouman</td>
                                    <td>6.1725, 1.2313</td>

                                </tr>
                                <tr>
                                    <td>Conférence nationale</td>
                                    <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                                    <td>2024-11-15</td>
                                    <td>300</td>
                                    <td>5000 €</td>
                                    <td>kablaké</td>
                                    <td>5.6037, -0.1870</td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nom de l'activité</th>
                                    <th>Description de l'activité</th>
                                    <th>Date de l'activité</th>
                                    <th>Nombre de participants estimé</th>
                                    <th>Coût de l'activité</th>
                                    <th>Lieu de l'activité</th>
                                    <th>Coordonnées GPS</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="activ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Activité</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Nom de l'activité</label>
                            <input type="text" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" style="max-width:800px"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Date</label>
                            <input type="date" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Nombre de participants</label>
                            <input type="text" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Coût</label>
                            <input type="number" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Localité</label>
                            <input type="text" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Coordonnées GPS</label>
                            <input type="text" class="form-control" rows="2" style="max-width:800px">
                        </div>

                        @*<div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Recommandation</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" style="max-width:800px"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">TDR</label>
                                <input class="form-control" type="file" id="formFile" style="max-width:800px">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Rapport d'évaluation'</label>
                                <input class="form-control" type="file" id="formFile" style="max-width:800px">
                            </div>*@
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    new DataTable('#example', {
        dom: 'Bfrtip', // Utilisation de l'option dom pour ajouter les boutons
        buttons: [
            {
                extend: 'copy',
                className: 'buttons-copy'
            },
            {
                extend: 'excel',
                className: 'buttons-excel'
            },
            {
                extend: 'pdf',
                className: 'buttons-pdf'
            }
        ]

    });

</script>
}