
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MenuPrincipal.cshtml";
}
<div style="background-color: #D3E3FD; padding:10px">
    <div style=" color: #3086C6; font-weight: bold; padding-left: 30px ">
        Accueil > Administration > Activités
    </div>
    <div class="container-fluid mt-1">
        <div class="row">
            <!-- Première carte occupant 70% -->
            <div class="col-md-12">
                <div style="padding: 20px; min-height: 800px; background-color:white">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#activ" data-whatever="@@mdo">Ajouter une activité</button>
                <hr />
                        <table id="example" class="table table-striped" style="width:100%;">
                            <thead style="border-color:gray">
                                <tr>
                                    <th>Nom de l'activité</th>
                                    <th>Description </th>
                                    <th>Date de l'activité</th>
                                    <th>Nombre de participants</th>
                                    <th>Coût </th>
                                    <th>Lieu </th>
                                    <th>Coordonnées GPS</th>

                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sensibilisation en milieu rural</td>
                                    <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                                    <td>2024-09-25</td>
                                    <td>150</td>
                                    <td>3000 000</td>
                                    <td>Aboisso</td>
                                    <td>9.5511, 1.1865</td>

                                    <td>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1b751a" data-toggle="modal" data-target="#modif" data-whatever="@@mdo"><path d="M240-120v-80l40-40H160q-33 0-56.5-23.5T80-320v-440q0-33 23.5-56.5T160-840h320v80H160v440h640v-120h80v120q0 33-23.5 56.5T800-240H680l40 40v80H240Zm360-240L400-560l56-56 104 103v-327h80v327l104-103 56 56-200 200Z" /></svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Conférence nationale</td>
                                    <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                                    <td>2024-11-15</td>
                                    <td>300</td>
                                    <td>5000 €</td>
                                    <td>kablaké</td>
                                    <td>5.6037, -0.1870</td>
                                    <td>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1b751a" data-toggle="modal" data-target="#modif" data-whatever="@@mdo"><path d="M240-120v-80l40-40H160q-33 0-56.5-23.5T80-320v-440q0-33 23.5-56.5T160-840h320v80H160v440h640v-120h80v120q0 33-23.5 56.5T800-240H680l40 40v80H240Zm360-240L400-560l56-56 104 103v-327h80v327l104-103 56 56-200 200Z" /></svg>
                                        </a>
                                        <a href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z" /></svg>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nom de l'activité</th>
                                    <th>Description de l'activité</th>
                                    <th>Date de l'activité</th>
                                    <th>Nombre de participants estimé</th>
                                    <th>Coût de l'activité</th>
                                    <th>Lieu de l'activité</th>
                                    <th>Coordonnées GPS</th>
                                    <th>Action</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="activ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Activité</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Nom de l'activité</label>
                            <input type="text" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" style="max-width:800px"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Date</label>
                            <input type="date" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Nombre de participants</label>
                            <input type="text" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Coût</label>
                            <input type="number" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Localité</label>
                            <input type="text" class="form-control" rows="2" style="max-width:800px">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Coordonnées GPS</label>
                            <input type="text" class="form-control" rows="2" style="max-width:800px">
                        </div>

                        @*<div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Recommandation</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" style="max-width:800px"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">TDR</label>
                                <input class="form-control" type="file" id="formFile" style="max-width:800px">
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Rapport d'évaluation'</label>
                                <input class="form-control" type="file" id="formFile" style="max-width:800px">
                            </div>*@
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    new DataTable('#example', {
        dom: 'Bfrtip', // Utilisation de l'option dom pour ajouter les boutons
        buttons: [
            {
                extend: 'copy',
                className: 'buttons-copy'
            },
            {
                extend: 'excel',
                className: 'buttons-excel'
            },
            {
                extend: 'pdf',
                className: 'buttons-pdf'
            }
        ]

    });

</script>
}