
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MenuPrincipal.cshtml";
}

<div style="background-color: #D3E3FD;">
    <div style=" color: #3086C6; font-weight: bold; padding-left: 30px ">
        Accueil > Suivi et Evaluation
    </div>
    <div class="container-fluid mt-1" style="padding-top:-5px">
        <div class="row">
            <!-- Première carte occupant 70% -->
            <div class="col-md-12">
                <div class="card fixed-height-l">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Région</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Gbêkè</option>
                                    <option value="2">Haut Sassandra</option>
                                    <option value="3">Grand Pont</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Département</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Adzopé</option>
                                    <option value="2">Akoupé</option>
                                    <option value="3">Yakassé-Attobrou</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Commune</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Aboisso</option>
                                    <option value="2">Abidjan</option>
                                    <option value="3">Bouaké</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Secteur d’activité</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Agriculture</option>
                                    <option value="2">Commerce</option>
                                    <option value="3">Domestique</option>
                                    <option value="3">Minier</option>
                                    <option value="3">Artisanat</option>
                                    <option value="3">Transport</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Activité</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Sensibilisation et éducation</option>
                                    <option value="2">Réinsertion scolaire</option>
                                    <option value="3">Formation professionnelle</option>
                                    <option value="3">Protection et de réhabilitation des enfants travailleurs</option>
                                    <option value="3">Inspection et de régulation des activité</option>
                                    <option value="3">Inspection et de régulation des activité</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Taux exécution physique</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">0%</option>
                                    <option value="2">10%</option>
                                    <option value="3">20%</option>
                                    <option value="3">30%</option>
                                    <option value="3">40%</option>
                                    <option value="3">50%</option>
                                    <option value="3">60%</option>
                                    <option value="3">70%</option>
                                    <option value="3">80%</option>
                                    <option value="3">90%</option>
                                    <option value="3">100%</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Taux exécution financier</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">0%</option>
                                    <option value="2">10%</option>
                                    <option value="3">20%</option>
                                    <option value="3">30%</option>
                                    <option value="3">40%</option>
                                    <option value="3">50%</option>
                                    <option value="3">60%</option>
                                    <option value="3">70%</option>
                                    <option value="3">80%</option>
                                    <option value="3">90%</option>
                                    <option value="3">100%</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Date debut</label>
                                <input type="date" class="form-control" />
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Date fin</label>
                                <input type="date" class="form-control" />
                            </div>
                            <div class="col">

                            </div>
                            <div class="col">
                                <div class="col-md">

                                </div>
                            </div>
                            <div class="col">
                                <div class="col-md">

                                </div>
                            </div>
                            <div class="col">
                                <div class="col-md">

                                </div>
                            </div>
                            <div class="col">
                                <div class="col-md">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Première carte occupant 70% -->
            <div class="col-md-7">
                <div class="card fixed-height">
                    <div class="card-body">
                        <h5 class="card-title" style="text-transform:uppercase;">Cartographie des initiatives</h5>
                        <img src="~/Images/carte_initiative.png" class="img-fluid" />
                        <center><h3></h3></center>
                    </div>
                </div>
            </div>

            <!-- Deuxième carte occupant 30% -->
            <div class="col-md-5">
                <div class="card fixed-height">
                    <div class="card-body">
                        <h5 class="card-title" style="text-transform:uppercase;">Liste des activités</h5>
                        <table class="table" style="font-size:13px">
                            <thead>
                                <tr>
                                    <th scope="col">ACTIVITES</th>
                                    <th scope="col">COUTS</th>
                                    <th scope="col">TAUX D'AVANCEMENTS</th>
                                    <th scope="col">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sensibilisation et éducation</td>
                                    <td>700 000</td>
                                    <td>15%</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detail" data-whatever="@@mdo">Evaluer</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Réinsertion scolaire</td>
                                    <td>45 000 000</td>
                                    <td>13%</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detail" data-whatever="@@mdo">Evaluer</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Formation professionnelle</td>
                                    <td>5 000 000</td>
                                    <td>49%</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detail" data-whatever="@@mdo">Evaluer</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Protection et de réhabilitation des enfants travailleurs</td>
                                    <td>4 000 000</td>
                                    <td>23%</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detail" data-whatever="@@mdo">Evaluer</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Inspection et de régulation des activité</td>
                                    <td>19 000 000</td>
                                    <td>15%</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detail" data-whatever="@@mdo">Evaluer</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Suivi et évaluation des activité</td>
                                    <td>69 000 000</td>
                                    <td>18%</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detail" data-whatever="@@mdo">Evaluer</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Première carte occupant 70% -->
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="container3" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="containerColumn" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4" style="padding-bottom:20px">
        <div class="row">
            <!-- Première carte occupant 70% -->
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="containerColumn1" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="container33" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@* Modal *@
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Evaluation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" style="max-width:800px"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Recommandation</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" style="max-width:800px"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">TDR</label>
                        <input class="form-control" type="file" id="formFile" style="max-width:800px">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Rapport d'évaluation'</label>
                        <input class="form-control" type="file" id="formFile" style="max-width:800px">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            Highcharts.chart('container3', {
                chart: {
                    type: 'bar',
                    marginLeft: 150
                },
                title: {
                    text: 'INDICATEUR DE PERFORMANCE TEMPORELLE (Délai)'
                },
                subtitle: {
                    text: 'Source: <a href="https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api">UserVoice</a>'
                },
                xAxis: {
                    type: 'category',
                    title: {
                        text: null
                    },
                    labels: {
                        style: {
                            fontSize: '19px',  // Taille de la police des libellés de l'axe X
                            fontWeight: 'bold' // Vous pouvez également ajouter du style (facultatif)
                        }
                    },
                    min: 0,
                    max: 4,
                    scrollbar: {
                        enabled: true
                    },
                    tickLength: 0,
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Votes',
                        align: 'high'
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true,
                            style: {
                                fontSize: '14px'  // Taille de la police des labels de données
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Votes',
                    data: [
                        ["Sensibilisation et éducation", 80],
                        ["Réinsertion scolaire", 55],
                        ["Formation professionnelle", 93],
                        ["Protection et de réhabilitation des enfants travailleurs", 7],
                        ["Inspection et de régulation des activité", 9],
                    ]
                }]
            });

            Highcharts.chart('container33', {
                chart: {
                    type: 'bar',
                    marginLeft: 150
                },
                title: {
                    text: 'INDICATEUR DE SATISFACTION DES PARTIES PRENANTES'
                },
                subtitle: {
                    text: 'Source: <a href="https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api">UserVoice</a>'
                },
                xAxis: {
                    type: 'category',
                    title: {
                        text: null
                    },
                    labels: {
                        style: {
                            fontSize: '19px',  // Taille de la police des libellés de l'axe X
                            fontWeight: 'bold' // Vous pouvez également ajouter du style (facultatif)
                        }
                    },
                    min: 0,
                    max: 4,
                    scrollbar: {
                        enabled: true
                    },
                    tickLength: 0,
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Votes',
                        align: 'high'
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true,
                            style: {
                                fontSize: '14px'  // Taille de la police des labels de données
                            }
                        },
                        color: '#F15C80'
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Votes',
                    data: [
                        ["Sensibilisation et éducation", 80],
                        ["Réinsertion scolaire", 18],
                        ["Formation professionnelle", 23],
                        ["Protection et de réhabilitation des enfants travailleurs", 77],
                        ["Inspection et de régulation des activité", 9],
                    ]
                }]
            });


            // Diagramme en colonnes (Column)
            Highcharts.chart('containerColumn', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'INDICATEUR FINANCIER (Budget)'
                },
                xAxis: {
                    categories: ['Sensibilisation et éducation', 'Réinsertion scolaire', 'Formation professionnelle', 'Protection et de réhabilitation des enfants travailleurs', 'Suivi et évaluation des activité', 'Activité 7']
                },
                yAxis: {
                    title: {
                        text: 'Valeurs'
                    }
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true, // Activer l'affichage des valeurs sur les colonnes
                            style: {
                                fontSize: '14px', // Taille de la police pour les valeurs affichées
                                fontWeight: 'bold' // Facultatif : mettre en gras
                            }
                        }
                    }
                },
                series: [{
                    name: '',
                    data: [15, 13, 14, 10, 19, 29]
                }]
            });


            // Diagramme en colonnes (Column)
            Highcharts.chart('containerColumn1', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'INDICATEUR DE QUALITE'
                },
                xAxis: {
                    categories: ['Sensibilisation et éducation', 'Réinsertion scolaire', 'Formation professionnelle', 'Protection et de réhabilitation des enfants travailleurs', 'Suivi et évaluation des activité', 'Activité 7']
                },
                yAxis: {
                    title: {
                        text: 'Valeurs'
                    }
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true, // Activer l'affichage des valeurs sur les colonnes
                            style: {
                                fontSize: '14px', // Taille de la police pour les valeurs affichées
                                fontWeight: 'bold' // Facultatif : mettre en gras
                            }
                        },
                        color: '#F15C80'
                    }
                },
                series: [{
                    name: 'Série 1',
                    data: [15, 13, 14, 10, 19, 29]
                }]
            });

            // Select the header element using jQuery
            var $header = $('.navbar');

            // Function to toggle the sticky class based on scroll position
            function checkScroll() {
                var currentPosition = $header.css('position');
                if (window.scrollY >= 131) {
                    // Toggle position
                    if (currentPosition === 'static') {
                        $header.css({
                            'position': 'fixed',
                            'top': '0', // Optional: add this if you want it to stick at the top
                            'width': '100%' // Optional: ensure it spans the full width
                        });
                    }
                } else {
                    // Reset to static position
                    $header.css({
                        'position': 'static',
                        'top': '', // Optional: remove top if set before
                        'width': '' // Optional: remove width if set before
                    });
                }
            }

            // Event listener to call checkScroll function on scroll
            $(window).on('scroll', checkScroll);

            // Initial check in case the page is loaded at the top
            checkScroll();
        });
    </script>

    }