<div style="height:1000px; width:100%">
    <center>
        <h2 style="color: #238c8f; padding: 25px ">
            CARTOGRAPHIE ET GUIDE D'ENTRETIEN
        </h2>
    </center>
    <table id="example" class="table table-striped" style="width:100%;">
        <thead style="border-color:gray">
            <tr>
                <th>Nom de l'activité</th>
                <th>Description </th>
                <th>Date de l'activité</th>
                <th>Nombre de participants</th>
                <th>Coût </th>
                <th>Lieu </th>
                <th>Coordonnées GPS</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sensibilisation en milieu rural</td>
                <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                <td>2024-09-25</td>
                <td>150</td>
                <td>3000 000</td>
                <td>Aboisso</td>
                <td>9.5511, 1.1865</td>
            </tr>
            <tr>
                <td>Formation des enseignants</td>
                <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                <td>2024-10-01</td>
                <td>50</td>
                <td>2000 000</td>
                <td>Biankouman</td>
                <td>6.1725, 1.2313</td>
            </tr>
            <tr>
                <td>Conférence nationale</td>
                <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                <td>2024-11-15</td>
                <td>300</td>
                <td>5000 €</td>
                <td>kablaké</td>
                <td>5.6037, -0.1870</td>
            </tr>
            <tr>
                <td>Sensibilisation en milieu rural</td>
                <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                <td>2024-09-25</td>
                <td>150</td>
                <td>3000 000</td>
                <td>Aboisso</td>
                <td>9.5511, 1.1865</td>

            </tr>
            <tr>
                <td>Formation des enseignants</td>
                <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                <td>2024-10-01</td>
                <td>50</td>
                <td>2000 000</td>
                <td>Biankouman</td>
                <td>6.1725, 1.2313</td>
            </tr>
            <tr>
                <td>Conférence nationale</td>
                <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                <td>2024-11-15</td>
                <td>300</td>
                <td>5000 €</td>
                <td>kablaké</td>
                <td>5.6037, -0.1870</td>
            </tr>
            <tr>
                <td>Sensibilisation en milieu rural</td>
                <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                <td>2024-09-25</td>
                <td>150</td>
                <td>3000 000</td>
                <td>Aboisso</td>
                <td>9.5511, 1.1865</td>
            </tr>
            <tr>
                <td>Formation des enseignants</td>
                <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                <td>2024-10-01</td>
                <td>50</td>
                <td>2000 000</td>
                <td>Biankouman</td>
                <td>6.1725, 1.2313</td>

            </tr>
            <tr>
                <td>Conférence nationale</td>
                <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                <td>2024-11-15</td>
                <td>300</td>
                <td>5000 €</td>
                <td>kablaké</td>
                <td>5.6037, -0.1870</td>

            </tr>
            <tr>
                <td>Sensibilisation en milieu rural</td>
                <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                <td>2024-09-25</td>
                <td>150</td>
                <td>3000 000</td>
                <td>Aboisso</td>
                <td>9.5511, 1.1865</td>

            </tr>
            <tr>
                <td>Formation des enseignants</td>
                <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                <td>2024-10-01</td>
                <td>50</td>
                <td>2000 000</td>
                <td>Biankouman</td>
                <td>6.1725, 1.2313</td>

            </tr>
            <tr>
                <td>Conférence nationale</td>
                <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                <td>2024-11-15</td>
                <td>300</td>
                <td>5000 €</td>
                <td>kablaké</td>
                <td>5.6037, -0.1870</td>

            </tr>
            <tr>
                <td>Sensibilisation en milieu rural</td>
                <td>Campagne de sensibilisation sur les droits des enfants dans les zones rurales.</td>
                <td>2024-09-25</td>
                <td>150</td>
                <td>3000 000</td>
                <td>Aboisso</td>
                <td>9.5511, 1.1865</td>

            </tr>
            <tr>
                <td>Formation des enseignants</td>
                <td>Atelier de formation pour les enseignants sur la reconnaissance du travail des enfants.</td>
                <td>2024-10-01</td>
                <td>50</td>
                <td>2000 000</td>
                <td>Biankouman</td>
                <td>6.1725, 1.2313</td>

            </tr>
            <tr>
                <td>Conférence nationale</td>
                <td>Conférence pour discuter des stratégies de lutte contre le travail des enfants.</td>
                <td>2024-11-15</td>
                <td>300</td>
                <td>5000 €</td>
                <td>kablaké</td>
                <td>5.6037, -0.1870</td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Nom de l'activité</th>
                <th>Description de l'activité</th>
                <th>Date de l'activité</th>
                <th>Nombre de participants estimé</th>
                <th>Coût de l'activité</th>
                <th>Lieu de l'activité</th>
                <th>Coordonnées GPS</th>

            </tr>
        </tfoot>
    </table>
</div>
<script>
    new DataTable('#example', {
        dom: 'Bfrtip', // Utilisation de l'option dom pour ajouter les boutons
        buttons: [
            {
                extend: 'copy',
                className: 'buttons-copy'
            },
            {
                extend: 'excel',
                className: 'buttons-excel'
            },
            {
                extend: 'pdf',
                className: 'buttons-pdf'
            }
        ]

    });
</script>
