
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

    <section class="blog-details" style="padding: 50px 0 90px">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-details__left">
                        <div class="blog-details__img">
                            <img src="~/Images/bann44.png" />
                        </div>
                        <div class="blog-details__content">
                            <h3 class="blog-details__title-1">21ème édition de la Journée Mondiale contre le Travail des Enfants : La Première Dame Dominique Ouattara se réjouie de l’extension du SOSTECI à l’échelle nationale </h3>
                            <p class="blog-details__text-1">
                                Madame Dominique Ouattara, Première Dame de Côte d’Ivoire et Présidente du Comité National de Surveillance des actions de lutte contre la Traite, l’Exploitation et le Travail des Enfants (CNS), a parrainé la 21ème édition de la Journée Mondiale contre le Travail des Enfants, le mercredi 03 août 2022, à la salle des fêtes du Sofitel Hôtel Ivoire.

                                La cérémonie a enregistré la présence de Madame Kandia Camara, Ministre d’Etat, Ministre des Affaires Etrangères, Monsieur Adama Kamara, Ministre de l’Emploi et de la Protection Sociale et Président du Comité Interministériel de lutte contre la lutte contre la Traite, l’Exploitation et le Travail des Enfants (CIM), Monsieur Diomandé Vagondo, Ministre de l’Intérieur et de la Sécurité, ainsi que des Ministres Gouvernement, des Présidents d’Institution, des Ambassadeurs accrédités en Côte d’Ivoire, des représentants d’organisations du système des Nations Unies et bien d’autres personnalités.

                                Le thème de cette 21ème édition de la journée mondiale contre le travail des enfants est : « la protection sociale universelle pour mettre fion au travail des enfants ».  En effet, la cérémonie officielle de la célébration de cette 21ème édition de la JMTE a été l’occasion de l’annonce de l’extension du Système d’Observation et de Suivi du Travail des Enfants en Côte d’Ivoire (SOSTECI) à l’échelle nationale.  La mise en place de ce mécanisme de protection sociale dans toutes les régions de la Côte d’Ivoire, permettra une meilleure vigilance et une coordination accrue de l’ensemble des actions menées sur le terrain. A cet effet, cinquante (50) Préfets de région ont été conviés à cette cérémonie. Chevilles ouvrières de cette politique nationale, ils auront pour mission d’être les relais des autorités pour l’instauration du SOSTECI dans leurs localités respectives. Pour ce faire, la Première Dame, marraine de l’évènement leur a offert des ordinateurs de bureau, ainsi qu’une enveloppe de douze (12) millions F CFA.

                                Prenant la parole Madame Dominique Ouattara, Première Dame de Côte d’Ivoire, s’est réjouie de l’extension du SOSTECI à l’échelle nationale. A cet effet, elle a indiqué qu’en dépit des efforts et des actions entrepris par le Gouvernement et les différents acteurs impliqués dans la lutte, d’importants défis reste encore à être relever pour l’élimination du Travail des Enfants.</p> <p> Et l’un d’entre eux est naturellement, l’extension du SOSTECI pour une meilleure surveillance du phénomène. « (…) Malgré ces progrès encourageants, d’importants défis restent encore à relever pour éliminer le travail des enfants. Cela nécessite de notre part : de la détermination, des efforts continus, une synergie d’action de la part de toutes les parties prenantes et une intensification de nos actions.</p>  C’est pourquoi, à l’occasion de cette journée mondiale contre le travail des enfants, je me réjouis de l’extension du Système d’Observation et de Suivi du Travail des enfants en Côte d’Ivoire (SOSTECI) à l’échelle nationale », s’est-elle félicitée
                            </p>

                            <div class="comment-one">
                                <h3 class="comment-one__title">Commentaires</h3>
                                <div class="comment-one__single">
                                    <div class="comment-one__image">
                                        <img src="assets/images/news/comment-1-1.jpg" alt="">
                                    </div>
                                    <div class="comment-one__content">
                                        <h3>KONE Souleyman</h3>
                                        <span>September 16, 2023</span>
                                        <p>
                                           Merci pour le soutien Mme la première Dame
                                        </p>

                                    </div>
                                </div>
                                <div class="comment-one__single">
                                    <div class="comment-one__image">
                                        <img src="assets/images/news/comment-1-2.jpg" alt="">
                                    </div>
                                    <div class="comment-one__content">
                                        <h3>Seri Armand</h3>
                                        <span>September 16, 2023</span>
                                        <p>
                                           Belle initiative, je serai présent pour la prochaine rencontre
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form">
                            <h3 class="comment-form__title">Ecrivez un commentaire</h3>
                            <form action="assets/inc/sendemail.php"
                                  class="comment-one__form contact-form-validated" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="comment-form__input-box">
                                            <input type="text" placeholder="Votre Nom" name="name" style="width: 100%;">
                                        </div>
                               
                                        <div class="comment-form__input-box">
                                            <input type="email" placeholder="Votre Email" name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="comment-form__input-box text-message-box">
                                            <textarea name="message"
                                                      placeholder="Ecrivez votre commentaire ici"></textarea>
                                        </div>
                                        <div class="comment-form__btn-box">
                                            <button type="submit" class="thm-btn comment-form__btn">
                                                Envoyer maintenant
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
