<link href="~/Content/Site.css" rel="stylesheet" />
<div style="background-color: #D3E3FD;">
    <div style=" color: #3086C6; font-weight: bold; padding-left: 30px ">
        Accueil > Tableau de bord
    </div>
    <div class="container-fluid mt-1" style="padding-top:-5px">
        <div class="row">
            <div class="col-md-12">
                <div class="card fixed-height-l2">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-7">
                <div class="card fixed-height">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card fixed-height">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="container3" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="containerColumn" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4" style="padding-bottom:20px">
        <div class="row">
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="containerColumn1" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="container33" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*border*@
style="border:1px solid #555"
