
@{
    ViewBag.Title = "Index";
}
<body style="margin:0px">
    <div class="content">
        <div style="height: 50px; background-color: aliceblue; border-radius: 3px; width: 100%;">
            <h2 style="padding:10px">Traitement Alerte</h2>
        </div>
        <br />
        <div style="background-color:aliceblue; height:1000px; width:100%">

        </div>
    </div>
</body>

