@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MenuPrincipal.cshtml";
}

<div style="background-color: #D3E3FD;">
    <div style=" color: #3086C6; font-weight: bold; padding-left: 30px ">
        Accueil > Cartographie des incidents
    </div>
    <div class="container-fluid mt-1" style="padding-top:-5px">
        <div class="row">
            <div class="col-md-12">
                <div class="card fixed-height-l2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Région</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Gbêkè</option>
                                    <option value="2">Haut Sassandra</option>
                                    <option value="3">Grand Pont</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Département</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Adzopé</option>
                                    <option value="2">Akoupé</option>
                                    <option value="3">Yakassé-Attobrou</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Sous-préfecture</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Adzopé</option>
                                    <option value="2">Akoupé</option>
                                    <option value="3">Yakassé-Attobrou</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Commune</label>
                                <select class="form-select" aria-label="Default select example">

                                    <option selected>Tout</option>
                                    <option value="1">Aboisso</option>
                                    <option value="2">Abidjan</option>
                                    <option value="3">Bouaké</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Lieu d’exercice</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Au marché</option>
                                    <option value="2">Dans la rue</option>
                                    <option value="3">A domicile</option>
                                    <option value="3">Dans un magazin</option>
                                    <option value="3">Au champ</option>
                                    <option value="3">Autre</option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="col-md">
                                    <label for="exampleInputPassword1" class="form-label">Secteur d’activité</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Tout</option>
                                        <option value="1">Agriculture</option>
                                        <option value="2">Commerce</option>
                                        <option value="3">Domestique</option>
                                        <option value="3">Minier</option>
                                        <option value="3">Artisanat</option>
                                        <option value="3">Transport</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4" style="padding-bottom:20px">
        <div class="row">
            <div class="col-md-5">
                <div class="card fixed-height">
                    <div class="card-body">
                        <h4 style="text-transform:uppercase;"> Cartographie des incidents</h4>
                        <img src="~/Images/carte_incident.png" height="600" />
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card fixed-height">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-6" style="border: 1px">
                                <div id="containerPie" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto; border: 1px solid #555" class="img-fluid"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="containerBar" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto; border: 1px solid #555" class="img-fluid"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="containerColumn" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto; border: 1px solid #555" class="img-fluid"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="containerBar1" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto; border: 1px solid #555" class="img-fluid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
     
<script src="https://code.highcharts.com/highcharts.js"></script>

<script>
    // Diagramme en secteurs (Pie)
    Highcharts.chart('containerPie', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'POURCENTAGE D\'ALERTE PAR SECTEUR D\'ACTIVITE'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %', // Format pour afficher les pourcentages
                    style: {
                        fontSize: '14px',
                        fontWeight: 'bold'
                    }
                }
            }
        },
        series: [{
            name: 'Part',
            colorByPoint: true,
            data: [{
                name: 'Agriculture',
                y: 61.41,
            }, {
                name: 'Commerce',
                y: 11.84,
            }, {
                name: 'Domestique',
                y: 10.85,
            }, {
                name: 'Minier',
                y: 4.67,
            }, {
                name: 'Transport',
                y: 4.67,
            }]
        }]
    });


    // Diagramme en barres (Bar)
    Highcharts.chart('containerBar', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'NOMBRE D\'ALERTE PAR SECTEUR D\'ACTIVITE'
        },
        xAxis: {
            categories: ['Agriculture', 'Commerce', 'Domestique', 'Minier', 'Artisanat', 'Transport']
        },
        yAxis: {
            title: {
                text: 'Valeurs'
            }
        },
        series: [{
            name: 'Série 1',
            data: [15, 13, 14, 17]
        }]
    });

    // Diagramme en barres (Bar)
    Highcharts.chart('containerBar1', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'NOMBRE D\'ALERTE PAR LIEU DE SERVICE PAR SEXE'
        },
        xAxis: {
            categories: ['Au marché', 'Dans la rue', 'Au champ', 'Dans un magazin']
        },
        yAxis: {
            title: {
                text: 'Valeurs'
            }
        },
        series: [{
            name: 'Garçon',
            data: [5, 3, 4, 7]
        }, {
            name: 'Fille',
            data: [15, 3, 24, 2]
        }]
    });

    // Diagramme en colonnes (Column)
    Highcharts.chart('containerColumn', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'TAUX D\'ALERTE PAR SECTEUR D\'ACTIVITE'
        },
        xAxis: {
            categories: ['Agriculture', 'Commerce', 'Domestique', 'Minier', 'Artisanat', 'Transport']
        },
        yAxis: {
            title: {
                text: 'Valeurs'
            }
        },
        series: [{
            name: 'Série 1',
            data: [15, 13, 14, 10, 19, 29]
        }]
    });
</script>

<script type="text/javascript">



    $(document).ready(function () {

        Highcharts.chart('container3', {
            chart: {
                type: 'bar',
                marginLeft: 150
            },
            title: {
                text: 'Most popular ideas by April 2016'
            },
            subtitle: {
                text: 'Source: <a href="https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api">UserVoice</a>'
            },
            xAxis: {
                type: 'category',
                title: {
                    text: null
                },
                labels: {
                    style: {
                        fontSize: '19px',  // Taille de la police des libellés de l'axe X
                        fontWeight: 'bold' // Vous pouvez également ajouter du style (facultatif)
                    }
                },
                min: 0,
                max: 4,
                scrollbar: {
                    enabled: true
                },
                tickLength: 0,
            },
            yAxis: {
                min: 0,
                max: 1200,
                title: {
                    text: 'Votes',
                    align: 'high'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true,
                        style: {
                            fontSize: '14px'  // Taille de la police des labels de données
                        }
                    }
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Votes',
                data: [
                    ["Gantt chart", 1000],
                    ["Autocalculation and plotting of trend lines", 575],
                    ["Allow navigator to have multiple data series", 523],
                    ["Implement dynamic font size", 427],
                    ["Multiple axis alignment control", 399],
                    ["Stacked area (spline etc) in irregular datetime series", 309],
                    ["Adapt chart height to legend height", 278],
                    ["Export charts in excel sheet", 239],
                    ["Toggle legend box", 235],
                    ["Venn Diagram", 203],
                    ["Add ability to change Rangeselector position", 182],
                    ["Draggable legend box", 157],
                    ["Sankey Diagram", 149],
                    ["Add Navigation bar for Y-Axis in Highstock", 144],
                    ["Grouped x-axis", 143],
                    ["ReactJS plugin", 137],
                    ["3D surface charts", 134],
                    ["Draw lines over a stock chart, for analysis purpose", 118],
                    ["Data module for database tables", 118],
                    ["Draggable points", 117]
                ]
            }]
        });

        Highcharts.chart('container2', {
            chart: {
                type: 'bar',
                marginLeft: 150
            },
            title: {
                text: 'Most popular ideas by April 2016'
            },
            subtitle: {
                text: 'Source: <a href="https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api">UserVoice</a>'
            },
            xAxis: {
                type: 'category',
                title: {
                    text: null
                },
                labels: {
                    style: {
                        fontSize: '19px',  // Taille de la police des libellés de l'axe X
                        fontWeight: 'bold' // Vous pouvez également ajouter du style (facultatif)
                    }
                },
                min: 0,
                max: 4,
                scrollbar: {
                    enabled: true
                },
                tickLength: 0,
            },
            yAxis: {
                min: 0,
                max: 1200,
                title: {
                    text: 'Votes',
                    align: 'high'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true,
                        style: {
                            fontSize: '14px'  // Taille de la police des labels de données
                        }
                    }
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Votes',
                data: [
                    ["Gantt chart", 1000],
                    ["Autocalculation and plotting of trend lines", 575],
                    ["Allow navigator to have multiple data series", 523],
                    ["Implement dynamic font size", 427],
                    ["Multiple axis alignment control", 399],
                    ["Stacked area (spline etc) in irregular datetime series", 309],
                    ["Adapt chart height to legend height", 278],
                    ["Export charts in excel sheet", 239],
                    ["Toggle legend box", 235],
                    ["Venn Diagram", 203],
                    ["Add ability to change Rangeselector position", 182],
                    ["Draggable legend box", 157],
                    ["Sankey Diagram", 149],
                    ["Add Navigation bar for Y-Axis in Highstock", 144],
                    ["Grouped x-axis", 143],
                    ["ReactJS plugin", 137],
                    ["3D surface charts", 134],
                    ["Draw lines over a stock chart, for analysis purpose", 118],
                    ["Data module for database tables", 118],
                    ["Draggable points", 117]
                ]
            }]
        });

        Highcharts.chart('container1', {
            chart: {
                type: 'bar',
                marginLeft: 150
            },
            title: {
                text: 'Most popular ideas by April 2016'
            },
            subtitle: {
                text: 'Source: <a href="https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api">UserVoice</a>'
            },
            xAxis: {
                type: 'category',
                title: {
                    text: null
                },
                labels: {
                    style: {
                        fontSize: '19px',  // Taille de la police des libellés de l'axe X
                        fontWeight: 'bold' // Vous pouvez également ajouter du style (facultatif)
                    }
                },
                min: 0,
                max: 4,
                scrollbar: {
                    enabled: true
                },
                tickLength: 0,
            },
            yAxis: {
                min: 0,
                max: 1200,
                title: {
                    text: 'Votes',
                    align: 'high'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true,
                        style: {
                            fontSize: '14px'  // Taille de la police des labels de données
                        }
                    }
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Votes',
                data: [
                    ["Gantt chart", 1000],
                    ["Autocalculation and plotting of trend lines", 575],
                    ["Allow navigator to have multiple data series", 523],
                    ["Implement dynamic font size", 427],
                    ["Multiple axis alignment control", 399],
                    ["Stacked area (spline etc) in irregular datetime series", 309],
                    ["Adapt chart height to legend height", 278],
                    ["Export charts in excel sheet", 239],
                    ["Toggle legend box", 235],
                    ["Venn Diagram", 203],
                    ["Add ability to change Rangeselector position", 182],
                    ["Draggable legend box", 157],
                    ["Sankey Diagram", 149],
                    ["Add Navigation bar for Y-Axis in Highstock", 144],
                    ["Grouped x-axis", 143],
                    ["ReactJS plugin", 137],
                    ["3D surface charts", 134],
                    ["Draw lines over a stock chart, for analysis purpose", 118],
                    ["Data module for database tables", 118],
                    ["Draggable points", 117]
                ]
            }]
        });

        Highcharts.chart('container4', {
            chart: {
                type: 'bar',
                marginLeft: 150
            },
            title: {
                text: 'Most popular ideas by April 2016'
            },
            subtitle: {
                text: 'Source: <a href="https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api">UserVoice</a>'
            },
            xAxis: {
                type: 'category',
                title: {
                    text: null
                },
                labels: {
                    style: {
                        fontSize: '19px',  // Taille de la police des libellés de l'axe X
                        fontWeight: 'bold' // Vous pouvez également ajouter du style (facultatif)
                    }
                },
                min: 0,
                max: 4,
                scrollbar: {
                    enabled: true
                },
                tickLength: 0,
            },
            yAxis: {
                min: 0,
                max: 1200,
                title: {
                    text: 'Votes',
                    align: 'high'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true,
                        style: {
                            fontSize: '14px'  // Taille de la police des labels de données
                        }
                    }
                }
            },
            legend: {
                enabled: false
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Votes',
                data: [
                    ["Gantt chart", 1000],
                    ["Autocalculation and plotting of trend lines", 575],
                    ["Allow navigator to have multiple data series", 523],
                    ["Implement dynamic font size", 427],
                    ["Multiple axis alignment control", 399],
                    ["Stacked area (spline etc) in irregular datetime series", 309],
                    ["Adapt chart height to legend height", 278],
                    ["Export charts in excel sheet", 239],
                    ["Toggle legend box", 235],
                    ["Venn Diagram", 203],
                    ["Add ability to change Rangeselector position", 182],
                    ["Draggable legend box", 157],
                    ["Sankey Diagram", 149],
                    ["Add Navigation bar for Y-Axis in Highstock", 144],
                    ["Grouped x-axis", 143],
                    ["ReactJS plugin", 137],
                    ["3D surface charts", 134],
                    ["Draw lines over a stock chart, for analysis purpose", 118],
                    ["Data module for database tables", 118],
                    ["Draggable points", 117]
                ]
            }]
        });
        Highcharts.chart('container5', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Graphique 2'
            },
            xAxis: {
                categories: ['Catégorie 1', 'Catégorie 2', 'Catégorie 3', 'Catégorie 4']
            },
            yAxis: {
                title: {
                    text: 'Valeurs'
                }
            },
            series: [{
                name: 'Série 1',
                data: [5, 3, 4, 7]
            }]
        });


        // Select the header element using jQuery
        var $header = $('.navbar');

        // Function to toggle the sticky class based on scroll position
        function checkScroll() {
            var currentPosition = $header.css('position');
            if (window.scrollY >= 131) {
                // Toggle position
                if (currentPosition === 'static') {
                    $header.css({
                        'position': 'fixed',
                        'top': '0', // Optional: add this if you want it to stick at the top
                        'width': '100%' // Optional: ensure it spans the full width
                    });
                }
            } else {
                // Reset to static position
                $header.css({
                    'position': 'static',
                    'top': '', // Optional: remove top if set before
                    'width': '' // Optional: remove width if set before
                });
            }
        }

        // Event listener to call checkScroll function on scroll
        $(window).on('scroll', checkScroll);

        // Initial check in case the page is loaded at the top
        checkScroll();
    });

</script>
}