@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MenuPrincipal.cshtml";
}

<div style="background-color: #D3E3FD;">
    <div style=" color: #3086C6; font-weight: bold; padding-left: 30px ">
        Accueil > Cartographie des organes du SIGOSTECI
    </div>
    <div class="container-fluid mt-1" style="padding-top:-5px">
        <div class="row">
            <div class="col-md-12">
                <div class="card fixed-height-l2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                <label for="exampleInputPassword1" class="form-label">Région</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Gbêkè</option>
                                    <option value="2">Haut Sassandra</option>
                                    <option value="3">Grand Pont</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Département</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Adzopé</option>
                                    <option value="2">Akoupé</option>
                                    <option value="3">Yakassé-Attobrou</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Sous-préfecture</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Adzopé</option>
                                    <option value="2">Akoupé</option>
                                    <option value="3">Yakassé-Attobrou</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Commune</label>
                                <select class="form-select" aria-label="Default select example">

                                    <option selected>Tout</option>
                                    <option value="1">Aboisso</option>
                                    <option value="2">Abidjan</option>
                                    <option value="3">Bouaké</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleInputPassword1" class="form-label">Programme</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tout</option>
                                    <option value="1">Adminisration générale</option>
                                    <option value="2">Protection sociale</option>
                                    <option value="3">Secteur du travail</option>
                                    <option value="3">Autre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-7">
                <div class="card fixed-height">
                    <div class="card-body">
                        <h4 style="text-transform:uppercase;"> Cartographie des organes</h4>
                        <img src="~/Images/carte_structure.png" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card fixed-height">
                    <div class="card-body">
                        <h4 style="text-transform:uppercase;"> Listes des organes</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Type de organes</th>
                                    <th scope="col">Nombre de organes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Direction Régionale</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Direction Générale</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Departementale</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Direction Centrale</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Direction Departementale</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th>Autre</th>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4" style="padding-bottom:20px">
        <div class="row">
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="container3" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card fixed-height-p">
                    <div class="card-body">
                        <div id="containerColumn" style="height: 300px; min-width: 300px; max-width: 800px; margin: 10px auto" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            Highcharts.chart('container3', {
                chart: {
                    type: 'bar',
                    marginLeft: 150
                },
                title: {
                    text: 'REPRESENTATION PAR REGION'
                },
                subtitle: {
                    text: 'Source: <a href="https://highcharts.uservoice.com/forums/55896-highcharts-javascript-api">UserVoice</a>'
                },
                xAxis: {
                    type: 'category',
                    title: {
                        text: null
                    },
                    labels: {
                        style: {
                            fontSize: '19px',  // Taille de la police des libellés de l'axe X
                            fontWeight: 'bold' // Vous pouvez également ajouter du style (facultatif)
                        }
                    },
                    min: 0,
                    max: 4,
                    scrollbar: {
                        enabled: true
                    },
                    tickLength: 0,
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Votes',
                        align: 'high'
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true,
                            style: {
                                fontSize: '14px'  // Taille de la police des labels de données
                            }
                        }
                    }
                },
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Votes',
                    data: [
                        ["Gbêkè", 10],
                        ["Mé", 65],
                        ["Gbôklé", 23],
                        ["Grand pont", 27],
                        ["Haut Sassandra", 9],
                    ]
                }]
            });

            // Diagramme en colonnes (Column)
            Highcharts.chart('containerColumn', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'REPRESENTATION PAR PROGRAMME'
                },
                xAxis: {
                    categories: ['Administration générale', 'Protection sociale', 'Education et réinsertion', 'Sensibilisation', 'Formation professionnelle', 'Régulation du travail']
                },
                yAxis: {
                    title: {
                        text: 'Valeurs'
                    }
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true, // Activer l'affichage des valeurs sur les colonnes
                            style: {
                                fontSize: '14px', // Taille de la police pour les valeurs affichées
                                fontWeight: 'bold' // Facultatif : mettre en gras
                            }
                        }
                    }
                },
                series: [{
                    name: 'Série 1',
                    data: [15, 13, 14, 10, 19, 29]
                }]
            });

            // Select the header element using jQuery
            var $header = $('.navbar');

            // Function to toggle the sticky class based on scroll position
            function checkScroll() {
                var currentPosition = $header.css('position');
                if (window.scrollY >= 131) {
                    // Toggle position
                    if (currentPosition === 'static') {
                        $header.css({
                            'position': 'fixed',
                            'top': '0', // Optional: add this if you want it to stick at the top
                            'width': '100%' // Optional: ensure it spans the full width
                        });
                    }
                } else {
                    // Reset to static position
                    $header.css({
                        'position': 'static',
                        'top': '', // Optional: remove top if set before
                        'width': '' // Optional: remove width if set before
                    });
                }
            }

            // Event listener to call checkScroll function on scroll
            $(window).on('scroll', checkScroll);

            // Initial check in case the page is loaded at the top
            checkScroll();
        });

    </script>
}