@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<section class="team-one" style="padding: 50px 0 90px">
    <div class="section-title text-center">
        <h4>STRUCTUR VERSION FINALE</h4>
    </div>
    <div class="container">
        <div class="btn-group" role="group" aria-label="Basic example" style="padding-bottom:15px">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#importerFichier" data-whatever="@@mdo">Importer des données</button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#typeFichier" data-whatever="@@mdo">Exporter des données</button>
        </div>

        <table class="table table-hover">
            <tr style="background-color: #D3E3FD">
                <th scope="col">ID</th>
                <th scope="col">NOMS</th>
                <th scope="col">PRENOMS</th>
                <th scope="col">AGES</th>
                <th scope="col">STATUTS</th>
                <th scope="col">VILLES</th>
                <th scope="col">SECTEUR D'ACTIVITES</th>
            </tr>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>KOFFI</td>
                    <td>Otto</td>
                    <td>12</td>
                    <td>
                        <span class="badge text-bg-primary">Apte</span>
                    </td>
                    <td>Tabou</td>
                    <td>Ferronnerie</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>13</td>
                    <td><span class="badge text-bg-danger">Inapte</span></td>
                    <td>Aboisso</td>
                    <td>Maçonnerie</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry </td>
                    <td>the Bird</td>
                    <td>23</td>
                    <td><span class="badge text-bg-primary">Apte</span></td>
                    <td>Adjamé</td>
                    <td>Travaux champêtres</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>26</td>
                    <td><span class="badge text-bg-primary">Apte</span></td>
                    <td>Cocody</td>
                    <td>Servante</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>13</td>
                    <td><span class="badge text-bg-danger">Inapte</span></td>
                    <td>San pédro</td>
                    <td>Pêche</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>25</td>
                    <td><span class="badge text-bg-primary">Apte</span></td>
                    <td>San pédro</td>
                    <td>Pêche</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>16</td>
                    <td><span class="badge text-bg-danger">Inapte</span></td>
                    <td>Sikensi</td>
                    <td>Ferronnerie</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>15</td>
                    <td><span class="badge text-bg-danger">Inapte</span></td>
                    <td>Boudiali</td>
                    <td>Maçonnerie</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Larry </td>
                    <td>the Bird</td>
                    <td>24</td>
                    <td><span class="badge text-bg-primary">Apte</span></td>
                    <td>Dabou</td>
                    <td>Travaux champêtres</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>13</td>
                    <td><span class="badge text-bg-danger">Inapte</span></td>
                    <td>Toumodi</td>
                    <td>Travaux champêtres</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Larry </td>
                    <td>the Bird</td>
                    <td>42</td>
                    <td><span class="badge text-bg-primary">Apte</span></td>
                    <td>Man</td>
                    <td>Travaux champêtres</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<div class="modal fade" id="typeFichier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exporter des données</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        .csv
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        .xlsx
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="importerFichier" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importer des données</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Choisir un fichier...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>