<div style="height:1000px; width:100%">
    <center>
        <h2 style="color: #238c8f; padding: 25px ">
            FICHE DE PRE-IDENTIFICATION DES ENFANTS TRAVAILLEURS ET LEUR UTILISATEUR
        </h2>
    </center>
</div>
