<div style="height:1000px; width:100%">
    <center>
        <h2 style="color: #238c8f; padding: 25px ">
            ENFANTS ASSISTES
        </h2>
    </center>
    @Html.ActionLink("Faire un enregistrement", "FormEnfantAssiste", "AcCollecteDonnees", new { area = "" }, new { @class = "btn btn-success" })
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#imprimer" data-whatever="@@mdo">Faire une importation</button>
    <hr />
    <table id="example" class="table table-striped" style="width:100%;">
        <thead style="border-color:gray">
            <tr>
                <th>Nom et prénoms point focal</th>
                <th>Nom et prénoms chef collecteur</th>
                <th>Nom et prénoms du collecteur</th>
                <th>Code point focal</th>
                <th>Code superviseur</th>
                <th>Code chef collecteur</th>
                <th>Code collecteur</th>
                <th>Nom du répondant </th>
                <th>Qualité du répondant </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th>Nom et prénoms point focal</th>
                <th>Nom et prénoms chef collecteur</th>
                <th>Nom et prénoms du collecteur</th>
                <th>Code point focal</th>
                <th>Code superviseur</th>
                <th>Code chef collecteur</th>
                <th>Code collecteur</th>
                <th>Nom du répondant </th>
                <th>Qualité du répondant </th>
            </tr>
        </tfoot>
    </table>
    <div class="modal fade" id="imprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IMPORTATION DE STRUCTURE VERSION FINALE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <a href="#" style="color:blue">Télécharger_un_model</a>
                        <hr />
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Selectionner le fichier</label>
                            <input class="form-control" type="file" id="formFile" style="max-width:800px">
                        </div>

                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Charger</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    new DataTable('#example', {
        dom: 'Bfrtip', // Utilisation de l'option dom pour ajouter les boutons
        buttons: [
            {
                extend: 'copy',
                className: 'buttons-copy'
            },
            {
                extend: 'excel',
                className: 'buttons-excel'
            },
            {
                extend: 'pdf',
                className: 'buttons-pdf'
            }
        ]

    });
</script>